# Data Science Tools & Ecosystem

In this Notebook Data Science Tools & Ecosystems are summarised.We can use this notebook as a reference to revise the working of various elements in a jupyter notebook.

**Objectives:**
- List Popular Languages of Data Science
- List commonly used libraries for Data Science
- List popular data science tools
- Execute some examples of arithmetic expressions

Some of the popular languages that data scientists user are: 
1. Python
2. R
3. SQL
4. Java
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib 
2. Seaborn
3. Scikit learn 
4. NumP

| Data Science Tools |
|------|
| Jupyter |
| R Studio |
| Zeppelin |

### Below are the few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression too multiply then add integers
(3*4)+5

17

In [4]:
#This will converts 200 minutes to hour by dividing it by 60
(200/60)

3.3333333333333335

##  Author
Swetab Sunny